# Unsupervised learning - Python - artificial neural network

In [1]:
import pandas as pd

dataset = pd.read_csv('data/churn_modelling.csv')
# dataset = dataset.sample(frac=1).reset_index(drop=True)
dataset.head()

# dataset of a fictional bank
# people are leaving, need to figure out why
# sample of 10k people

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [2]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [3]:
dataset = dataset.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1)
dataset.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
dataset = pd.get_dummies(dataset, columns=['Geography', 'Gender'], drop_first=True)
dataset.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_Germany,Geography_Spain,Gender_Male
0,619,42,2,0.00,1,1,1,101348.88,1,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,0,1,0
2,502,42,8,159660.80,3,1,0,113931.57,1,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,0,1,0

In [5]:
col = dataset.pop("Exited")
dataset.insert(11, col.name, col)

In [6]:
dataset.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_Germany,Geography_Spain,Gender_Male,Exited
0,619,42,2,0.00,1,1,1,101348.88,0,0,0,1
1,608,41,1,83807.86,1,0,1,112542.58,0,1,0,0
2,502,42,8,159660.80,3,1,0,113931.57,0,0,0,1
3,699,39,1,0.00,2,0,0,93826.63,0,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,1,0,0

In [7]:
dataset.shape

(10000, 12)

In [8]:
X = dataset.iloc[:, 0:11].values
X

array([[619.,  42.,   2., ...,   0.,   0.,   0.],
       [608.,  41.,   1., ...,   0.,   1.,   0.],
       [502.,  42.,   8., ...,   0.,   0.,   0.],
       ...,
       [709.,  36.,   7., ...,   0.,   0.,   0.],
       [772.,  42.,   3., ...,   1.,   0.,   1.],
       [792.,  28.,   4., ...,   0.,   0.,   0.]])

In [9]:
y = dataset.iloc[:, 11].values
y

array([1, 0, 1, ..., 1, 1, 0])

In [10]:
# display first row before encoding for comparison
X[0, :]

array([6.1900000e+02, 4.2000000e+01, 2.0000000e+00, 0.0000000e+00,
       1.0000000e+00, 1.0000000e+00, 1.0000000e+00, 1.0134888e+05,
       0.0000000e+00, 0.0000000e+00, 0.0000000e+00])

In [11]:
X[0, :]

array([6.1900000e+02, 4.2000000e+01, 2.0000000e+00, 0.0000000e+00,
       1.0000000e+00, 1.0000000e+00, 1.0000000e+00, 1.0134888e+05,
       0.0000000e+00, 0.0000000e+00, 0.0000000e+00])

In [12]:
X.shape

(10000, 11)

In [13]:
# Feature Scaling because gradient descent
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
X = sc.fit_transform(X)

In [14]:
X[0, :]

array([-0.32622142,  0.29351742, -1.04175968, -1.22584767, -0.91158349,
        0.64609167,  0.97024255,  0.02188649, -0.57873591, -0.57380915,
       -1.09598752])

In [15]:
# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [16]:
X_test.shape

(2000, 11)

In [17]:
X_train.shape

(8000, 11)

In [18]:
from tensorflow.python.client import device_lib

print(device_lib.list_local_devices())

[name: "/device:CPU:0"
device_type: "CPU"
memory_limit: 268435456
locality {
}
incarnation: 3386185464961337404
, name: "/device:XLA_CPU:0"
device_type: "XLA_CPU"
memory_limit: 17179869184
locality {
}
incarnation: 13563590581012257053
physical_device_desc: "device: XLA_CPU device"
, name: "/device:GPU:0"
device_type: "GPU"
memory_limit: 8864854208
locality {
  bus_id: 1
  links {
  }
}
incarnation: 11127941897723662008
physical_device_desc: "device: 0, name: GeForce GTX 1080 Ti, pci bus id: 0000:09:00.0, compute capability: 6.1"
, name: "/device:XLA_GPU:0"
device_type: "XLA_GPU"
memory_limit: 17179869184
locality {
}
incarnation: 11969824147282417338
physical_device_desc: "device: XLA_GPU device"
]

In [19]:
import tensorflow as tf
print("Num GPUs Available: ", len(tf.config.experimental.list_physical_devices('GPU')))

Num GPUs Available:  1

In [20]:
from tensorflow import keras
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.layers import Dropout
import tensorflow as tf
from tensorflow.keras.layers import ReLU

# Initialising the ANN
classifier = Sequential()

# Adding the input layer and the first hidden layer
# input_dim = number of features, needed for the input layer
# kernel_initializer = uniform for init weight
# can also use other activation like 'relu' (https://keras.io/activations/, https://keras.io/layers/advanced-activations/#leakyrelu)
# units : rule of thumbs is average of input layer nodes and output layer (11 + 1) / 2 = 6
classifier.add(Dense(units=6, kernel_initializer="uniform", activation='linear', input_dim=11))
classifier.add(ReLU())
# classifier.add(Dropout(rate=0.25))

# Adding the second hidden layer
# if feature a linearly separable, we don't need a hidden layer
# units = number of nodes, rule of thumb is the average between the input layer and output layer (11 + 1) / 2 = 6
# not needed to specify the input_dim anymore since the classifier already knows
classifier.add(Dense(activation="linear", units=6, kernel_initializer="uniform"))
classifier.add(ReLU())
# classifier.add(Dropout(rate=0.25))

# Adding the output layer
# only one node because we have only two possibilities : 0 and 1
# kernel_initializer still needs to be applied for the previous layer
# activation for output : dependent variable with more than 2 categories -> use softmax otherwise sigmoid
classifier.add(Dense(activation="sigmoid", units=1, kernel_initializer="uniform"))

In [21]:
# Compiling the ANN
# optimizer : algo to find the optimal weights (adam = stochastic gradient descent)
# loss : cost function of the gradient descent (binary_crossentropy = logarithmic loss if only two outcomes, categorical_crossentropy otherwise)
# metrics : metrics used to improve the model
classifier.compile(optimizer = 'rmsprop', loss = 'binary_crossentropy', metrics = ['accuracy'])

In [22]:
# Fitting the ANN to the Training set
# batch_size is important : after 'batch_size' training examples processed, we update the weights
# -> too low and it is slow to train but small loss function
# -> too high and it is fast to train but high loss function
# batch size defines the number of samples being propagated through the network
# -> 1 = stochastic
# epochs: number of time we go through the whole training dataset
with tf.device('/gpu:0'):
    classifier.fit(X_train, y_train, batch_size = 32, epochs = 50)

Epoch 1/50
250/250 [==============================] - 0s 2ms/step - loss: 0.6207 - accuracy: 0.7926
Epoch 2/50
250/250 [==============================] - 0s 2ms/step - loss: 0.4672 - accuracy: 0.7945
Epoch 3/50
250/250 [==============================] - 0s 2ms/step - loss: 0.4393 - accuracy: 0.7945
Epoch 4/50
250/250 [==============================] - 0s 2ms/step - loss: 0.4339 - accuracy: 0.7945
Epoch 5/50
250/250 [==============================] - 0s 2ms/step - loss: 0.4308 - accuracy: 0.7945
Epoch 6/50
250/250 [==============================] - 0s 2ms/step - loss: 0.4284 - accuracy: 0.7945
Epoch 7/50
250/250 [==============================] - 0s 1ms/step - loss: 0.4262 - accuracy: 0.7945
Epoch 8/50
250/250 [==============================] - 0s 2ms/step - loss: 0.4238 - accuracy: 0.8077
Epoch 9/50
250/250 [==============================] - 0s 2ms/step - loss: 0.4208 - accuracy: 0.8214
Epoch 10/50
250/250 [==============================] - 0s 1ms/step - loss: 0.4179 - accuracy: 0.8274
Epoch 11/50
250/250 [==============================] - 0s 2ms/step - loss: 0.4152 - accuracy: 0.8305
Epoch 12/50
250/250 [==============================] - 0s 2ms/step - loss: 0.4127 - accuracy: 0.8299
Epoch 13/50
250/250 [==============================] - 0s 1ms/step - loss: 0.4106 - accuracy: 0.8322
Epoch 14/50
250/250 [==============================] - 0s 1ms/step - loss: 0.4090 - accuracy: 0.8321
Epoch 15/50
250/250 [==============================] - 0s 2ms/step - loss: 0.4077 - accuracy: 0.8332
Epoch 16/50
250/250 [==============================] - 0s 2ms/step - loss: 0.4062 - accuracy: 0.8346
Epoch 17/50
250/250 [==============================] - 0s 2ms/step - loss: 0.4053 - accuracy: 0.8334
Epoch 18/50
250/250 [==============================] - 0s 2ms/step - loss: 0.4042 - accuracy: 0.8338
Epoch 19/50
250/250 [==============================] - 0s 2ms/step - loss: 0.4032 - accuracy: 0.8353
Epoch 20/50
250/250 [==============================] - 0s 2ms/step - loss: 0.4027 - accuracy: 0.8355
Epoch 21/50
250/250 [==============================] - 0s 2ms/step - loss: 0.4020 - accuracy: 0.8350
Epoch 22/50
250/250 [==============================] - 0s 2ms/step - loss: 0.4015 - accuracy: 0.8363
Epoch 23/50
250/250 [==============================] - 0s 2ms/step - loss: 0.4010 - accuracy: 0.8374
Epoch 24/50
250/250 [==============================] - 0s 1ms/step - loss: 0.4002 - accuracy: 0.8374
Epoch 25/50
250/250 [==============================] - 0s 1ms/step - loss: 0.4000 - accuracy: 0.8370
Epoch 26/50
250/250 [==============================] - 0s 1ms/step - loss: 0.3993 - accuracy: 0.8369
Epoch 27/50
250/250 [==============================] - 0s 1ms/step - loss: 0.3994 - accuracy: 0.8366
Epoch 28/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3988 - accuracy: 0.8370
Epoch 29/50
250/250 [==============================] - 0s 1ms/step - loss: 0.3987 - accuracy: 0.8374
Epoch 30/50
250/250 [==============================] - 0s 1ms/step - loss: 0.3985 - accuracy: 0.8385
Epoch 31/50
250/250 [==============================] - 0s 1ms/step - loss: 0.3978 - accuracy: 0.8385
Epoch 32/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3980 - accuracy: 0.8372
Epoch 33/50
250/250 [==============================] - 0s 1ms/step - loss: 0.3977 - accuracy: 0.8385
Epoch 34/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3975 - accuracy: 0.8365
Epoch 35/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3971 - accuracy: 0.8385
Epoch 36/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3972 - accuracy: 0.8389
Epoch 37/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3969 - accuracy: 0.8386
Epoch 38/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3968 - accuracy: 0.8361
Epoch 39/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3967 - accuracy: 0.8375
Epoch 40/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3964 - accuracy: 0.8385
Epoch 41/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3960 - accuracy: 0.8375
Epoch 42/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3963 - accuracy: 0.8367
Epoch 43/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3962 - accuracy: 0.8390
Epoch 44/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3960 - accuracy: 0.8370
Epoch 45/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3961 - accuracy: 0.8379
Epoch 46/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3961 - accuracy: 0.8389
Epoch 47/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3957 - accuracy: 0.8375
Epoch 48/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3958 - accuracy: 0.8375
Epoch 49/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3957 - accuracy: 0.8393
Epoch 50/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3955 - accuracy: 0.8380

In [23]:
# Predicting the Test set results
y_pred = classifier.predict(X_test)
y_pred

array([[0.18942012],
       [0.143774  ],
       [0.03195043],
       ...,
       [0.10932776],
       [0.12274439],
       [0.01517873]], dtype=float32)

In [24]:
# 0.5 rule depends on the business, with sensitive data, we want to minimize classification error so the value will likely be different
y_pred = (y_pred > 0.5)
y_pred

array([[False],
       [False],
       [False],
       ...,
       [False],
       [False],
       [False]])

In [25]:
# Making the Confusion Matrix
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
cm

array([[1556,   51],
       [ 263,  130]])